<header class="flex justify-between items-center py-4 px-6 bg-white">
    <div class="h-16">
        <img src="images/logo.png" alt="Banco Cuscatlan" class="h-full" />
    </div>
    <button class="w-10 h-10 flex items-center justify-center focus:outline-none">
    <div class="w-6 h-5 flex flex-col justify-between">
        <span class="w-full h-1 bg-blue rounded-full"></span>
        <span class="w-full h-1 bg-blue rounded-full" ></span>
        <span class="w-full h-1 bg-blue rounded-full"></span>
    </div>
    </button>
</header>