<div class="bg-white-light min-h-screen">
    <ng-container *ngIf="showSplash; else pageContent">
        <app-splash-screen></app-splash-screen>
    </ng-container>
  
    <ng-template #pageContent>
        <div class="container-wrapper">
            <main class="py-6">
                <section class="mb-16">
                    <div class="section-header">
                        <p class="section-subtitle">{{ investmentSubtitle }}</p>
                        <h1 class="section-title">{{ investmentTitle }}</h1>
                        <p class="section-description">{{ investmentDescription }}</p>
                    </div>
        
                    <div class="card-grid">
                        <app-card 
                            *ngFor="let card of mainCards"
                            [header]="card.header"
                            [title]="card.title"
                            [description]="card.description"
                            [imageUrl]="card.imageUrl"
                            [buttonText]="card.buttonText"
                            [buttonUrl]="card.buttonLink"
                            [buttonClass]="card.buttonClass">
                        </app-card>
                    </div>
                </section>
        
                <section class="mb-16">
                    <h2 class="interest-title">{{ interestTitle }}</h2>
        
                    <div class="small-card-grid">
                        <app-small-card
                            *ngFor="let card of additionalCards"
                            [containerClass]="card.containerClass"
                            [imageUrl]="card.imageUrl"
                            [imageAlt]="card.imageAlt"
                            [title]="card.title"
                            [description]="card.description"
                            [buttonText]="card.buttonText"
                            [buttonClass]="card.buttonClass"
                            [buttonUrl]="card.buttonUrl">
                        </app-small-card>
                    </div>
                </section>
            </main>
        </div>
    </ng-template>
</div>
  