<div class="card-container">
    <div class="image-wrapper">
        <img [src]="imageUrl" [alt]="imageAlt" class="card-image" />
    </div>
  
    <h2 class="card-header">
        {{ header }}
        <span class="card-header-badge">YA</span>
    </h2>
  
    <div class="card-content">
        <p class="card-title">{{ title }}</p>
        <p class="card-description">{{ description }}</p>
    </div>
  
    <app-button
      [text]="buttonText"
      [url]="buttonUrl"
      [buttonClass]="buttonClass"
    ></app-button>
</div>