<div class="product-feature-wrapper">
    <div class="product-feature-image-wrapper">
        <div class="product-feature-image-bg">
            <img [src]="imageUrl" [alt]="imageAlt" class="product-feature-img" />
        </div>
    </div>
  
    <h2 class="product-feature-title">{{ title }}</h2>
  
    <div class="product-feature-list">
        <div class="feature-item" *ngFor="let item of features">
            <div class="feature-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="#01426a" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </div>
            <div class="feature-text">
                <p class="text-gray">{{ item }}</p>
            </div>
        </div>
    </div>
  
    <app-button
        [text]="buttonText"
        [url]="buttonUrl"
        buttonClass="w-full bg-gold hover:bg-gold-light text-blue py-4 px-8 rounded-xl text-xl font-semibold"
    ></app-button>
</div>