<div>
    <ng-container *ngIf="showSplash; else pageContent">
        <app-splash-screen></app-splash-screen>
    </ng-container>
  
    <ng-template #pageContent>
        <div class="container-wrapper">
            <div class="back-button-wrapper">
                <app-button
                    [icon]="'\u2190'"
                    [iconClass]="backButton.iconClass"
                    [text]="backButton.text"
                    [url]="backButton.url"
                    [buttonClass]="backButton.buttonClass">
                </app-button>
            </div>
    
            <div class="banner-section">
                <div class="image-banner-wrapper">
                    <img src="images/pig-banner.png" alt="Banner Cuenta YA" class="banner-img" />
                </div>
        
                <div class="banner-content">
                    <p class="banner-subtitle">{{ banner.subtitle }}</p>
                    <h1 class="banner-title">{{ banner.title }}</h1>
                    <p class="banner-description">{{ banner.description }}</p>
                </div>
        
                <div class="banner-button-wrapper">
                    <app-button
                        [text]="banner.buttonText"
                        [url]="banner.buttonUrl"
                        [buttonClass]="banner.buttonClass">
                    </app-button>
                </div>
            </div>
    
            <div class="section-title">
                <h1>Tú eliges la opción que prefieras</h1>
            </div>
    
            <div class="product-feature-grid">
                <app-product-feature *ngFor="let item of productOptions"
                    [imageUrl]="item.imageUrl"
                    [imageAlt]="item.imageAlt"
                    [title]="item.title"
                    [features]="item.features"
                    [buttonText]="item.buttonText"
                    [buttonUrl]="item.buttonUrl">
                </app-product-feature>
            </div>
    
            <div class="section-title">
                <h1>Aclara tus dudas sobre Cuenta YA</h1>
            </div>
    
            <div class="info-cards-grid">
                <app-card-large *ngFor="let card of infoCards"
                    [backgroundClass]="card.backgroundClass"
                    [title]="card.title"
                    [description]="card.description"
                    [imageUrl]="card.imageUrl"
                    [linkText]="card.linkText"
                    [linkUrl]="card.linkUrl">
                </app-card-large>
            </div>
        </div>
    </ng-template>
</div>